@charset 'UTF-8';

*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(https://i.gifer.com/Nv2.gif);
    color: white;
    height: 50vh; 
    display: flex;
    align-items: center ;
    flex-direction: column;
    
 
} 

h1{
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


div{
    background-color: rgba(255, 255, 255, 0.226);
    height: 400px;
    width: 310px;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    border-radius: 10%;
    font-size: 1.em;

    

}

input{
    padding: 9px;
    border: none;
}

input#gerar:hover{
    background-color: rgba(255, 255, 255, 0.267);
}

input#gerar {
    cursor: pointer;
    transition:  0.3s ease;}

#senha{ 
    margin-top: 10px;
    font-family: fantasy;
    font-style: italic;
    font-size: 1.5em;
    color: red;
    
}

